<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data Mobil</h1>
    </h1>
    <table border="1">
        <tr>
            <th>Car ID</th>
            <th>Car Name</th>
            <th>Body</th>
            <th>Price</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.car_ID }}</td>
            <td>{{ row.CarName }}</td>
            <td>{{ row.carbody }}</td>
            <td>{{ row.price }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>